* {
    box-sizing: border-box;
    
}



body {
    margin: 0 auto;
    background-color: gold!important;
}

#top {
    margin: 3rem auto;
    font-weight: bolder;
    background-color: gold;
    width: 100%;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#theModal h2 {
    font-size: 2rem;
    /* font-style: italic; */
    /* background-color: gold; */
}

.modal {
    background-color: gold;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.modalContent {
    background-color: gold;
}

/* button {
    border: none;
    background-color: none;
} */

.clickThis {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 2rem;
    width: 30%;

}

#mainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background-color: gold;
    box-shadow: 0 0 40px 10px red;
    color: white;
    font-size: 8rem;
    font-weight: bolder;
    border-radius: 150px;
    margin-bottom: 2rem;
    border: none;
    margin-top: 1rem;
}

.clickThis {
    background-color: gold;
}

#mainButton:active {
    background-color: red;
}

.title {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 5rem;
    
}

.modal {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.modalContent {
    text-align: center;
}

/* #score {
    display: flex;
    border-style: 1px solid black;
    background-color: gray;
    height: 5rem;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    width: 10rem;
    margin: auto;
    color: white;
    font-family: sans-serif;



} */

#buttonArea {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 0 auto;
    margin-top: 2rem;
    width: 30%;
    /* height: 10rem; */
    /* align-items: center; */
    /* border: 5px solid orange; */
    border-radius: 10px;
}

.storeButton {
    width: 5rem;
    height: 5rem;
    background-color: red;
    box-shadow: 0 0 3px 3px gold;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 5px;
    font-size: .8rem;

}

#submit {
    display: flex;
    background-color: gold;
    justify-content: center;
    padding: .5rem;
    display: flex;
    margin: auto;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px yellow;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 125px;

    
}

#reset {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    border-radius: 5px;
    color: black;
    background-color: white;
    /* border: 1px solid black; */
    /* background-color: lightblue;
    font-size: 1.5rem;
    color: white;
    padding: .5rem;
    border-radius: 3px; */
}

#userName {
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 20%;
    min-width: 15rem;
    border-radius: 5px;
    /* text-align: center; */
    align-items: center;
    
    

}

#countDown {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    width: 20%;
    min-width: 350px;
    margin: 0 auto;
    margin-bottom: 1rem;
    /* background-color: rgb(99, 157, 251); */
    /* border: 1px solid white; */
    color: black; 
    border-radius: 5px;
    padding: 1rem;
    
}

#personalHighScore {
    margin-bottom: 1rem;
    font-weight: bolder;
}

.results {
    margin: 2rem auto;
    max-width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 2px 2px 10px black;
    min-width: 350px;
   


}

#leaderboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: bolder;
    

}



#leaderboard div {
    margin-left:.5rem;
    margin-right: .5rem
}

#myBtn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;;
    font-weight: bolder;
    font-size: .6rem;
    color: black;
    font-style: italic;
    background-color: white;
    border: 1px solid black;
    padding: .6rem;
    border-radius: 5px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    text-align: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* MEDIA QUERIES */

@media screen and (max-width: 280px) {
    h1 {
        text-align: center;
        font-size: 10px;
        
    }

    #top {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        width: 75%;
    }

    #theModal h2 {
        font-size: 2rem;
        
    }

    #theModal {
        width: 75%;
    }


    #mainButton {
        height:15rem;
        width: 15rem;
        font-size: 6rem;
    }

    .clickThis {
        width: 75%;
    }

    #buttonArea {
        margin: auto;
        width: 75%;
    }

    .storeButton {
        width: 3rem;
        height: 3rem;
        font-size: .6rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;

    }

    #theModal p {
        font-size: 10px;
    }



}


@media screen and (min-width: 375px) {
    h1 {
        text-align: center;
        font-size: 10px;
        
    }

    #top {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        width: 75%;
    }

    #theModal h2 {
        font-size: 1rem;
    }

    #theModal {
        width: 75%;
    }


    #mainButton {
        height: 10rem;
        width: 10rem;
        font-size: 6rem;
    }

    .clickThis {
        width: 75%;
    }

    #buttonArea {
        margin: auto;
        width: 75%;
    }

    .storeButton {
        width: 3rem;
        height: 3rem;
        font-size: .6rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;

    }

    #theModal p {
        font-size: 10px;
    }

    .results {
        width: 95%;
    }

}

@media screen and (max-width: 390px) {
    h1 {
        text-align: center;
        font-size: 10px;
        
    }

    #top {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        width: 75%;
    }

    #theModal h2 {
        font-size: 1rem;
    }

    #theModal {
        width: 75%;
    }


    #mainButton {
        height:10rem;
        width: 10rem;
        font-size: 6rem;
    }

    .clickThis {
        width: 75%;
    }

    #buttonArea {
        margin: auto;
        width: 75%;
    }

    .storeButton {
        width: 3rem;
        height: 3rem;
        font-size: .6rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;

    }

    #theModal p {
        font-size: 10px;
    }



}

@media screen and (max-width: 393px) {
    h1 {
        text-align: center;
        font-size: 10px;
        
    }

    #top {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        width: 75%;
    }

    #theModal h2 {
        font-size: 1rem;
    }

    #theModal {
        width: 75%;
    }


    #mainButton {
        height:10rem;
        width: 10rem;
        font-size: 6rem;
    }

    .clickThis {
        width: 75%;
    }

    #buttonArea {
        margin: auto;
        width: 75%;
    }

    .storeButton {
        width: 3rem;
        height: 3rem;
        font-size: .6rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;

    }

    #theModal p {
        font-size: 10px;
    }



}

@media screen and (max-width: 412px) {
    h1 {
        text-align: center;
        font-size: 12px;
        
    }

    #top {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        width: 75%;
    }

    #theModal h2 {
        font-size: 1.2rem;
    }

    #theModal {
        width: 75%;
    }


    #mainButton {
        height:10rem;
        width: 10rem;
        font-size: 6rem;
    }

    .clickThis {
        width: 75%;
    }

    #buttonArea {
        margin: auto;
        width: 75%;
    }

    .storeButton {
        width: 3rem;
        height: 3rem;
        font-size: .6rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;

    }

    #theModal p {
        font-size: 10px;
    }



}

@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 12px;
        
    }

    #top {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        width: 75%;
    }

    #theModal h2 {
        font-size: 1.2rem;
    }

    #theModal {
        width: 75%;
    }


    #mainButton {
        height:10rem;
        width: 10rem;
        font-size: 6rem;
    }

    .clickThis {
        width: 75%;
    }

    #buttonArea {
        margin: auto;
        /* width: 30%; */
    }

    .storeButton {
        width: 3rem;
        height: 3rem;
        font-size: .6rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;

    }

    #theModal p {
        font-size: 10px;
    }



}

@media screen and (min-width: 820px) {
    h1 {
        text-align: center;
        font-size: 12px;
        
    }

    #top {
        font-size: 4rem;
        margin-bottom: 1.5rem;
        width: 75%;
    }

    #theModal h2 {
        font-size: 2rem;
    }

    #theModal {
        width: 75%;
    }


    #mainButton {
        height:15rem;
        width: 15rem;
        font-size: 6rem;
    }

    .clickThis {
        width: 75%;
    }

    #buttonArea {
        margin: auto;
        width: 75%;
    }

    .storeButton {
        width: 3rem;
        height: 3rem;
        font-size: .6rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;

    }

    #theModal p {
        font-size: 10px;
    }



}