* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

#userName {

}

#theModal {

}

.modal {

}

button {
    border: none;
    background-color: none;
}

.clickThis {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 2rem;
}

#mainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-color: pink;
    box-shadow: 0 0 5px 5px blueviolet;
    color: white;
    font-size: 4rem;
    font-weight: bolder;
    border-radius: 5px;
    margin-bottom: 2rem;

}

#mainButton:hover {
    background-color: red;
}

.title {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 5rem;
    
}

.modal {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.modalContent {
    text-align: center;
}

#score {
    display: flex;
    border-style: 1px solid black;
    background-color: gray;
    height: 5rem;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    width: 10rem;
    margin: auto;
    color: white;
    font-family: sans-serif;



}

#buttonArea {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 50%;
    height: 10rem;
    align-items: center;
    border: 5px solid orange;
    border-radius: 10px;
}